body {
  background-color: rgb(250, 255, 240);
  min-height: 100vh;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: block;
}

* {
  font-family: "Tenor Sans", sans-serif;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}