body {
  background-color: rgb(250, 255, 240);
  min-height: 100vh;
  margin: 0;
}

* {
  font-family: "Tenor Sans", sans-serif;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}