.navbar {
  width: 100%;
  min-height: 83px;
  background-color: #ccffcc;
  display: flex;
  align-items: center;
  padding: 12px 40px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
}


.navbar-left {
  flex: 0 0 auto;    
  display: flex;
  align-items: center;
}

.nav-center {
  flex: 1;         
  display: flex;
  justify-content: center;
  padding-left: 180px;
}

.navbar-right {
  width: 200px;  /* image width + margin */
}

.nav-logo {
  margin-right: 25px;
}

.nav-logo {
  position: absolute;
  left: 40px;   /* same as navbar padding */
  top: 50%;
  transform: translateY(-50%);
  height: 55px;
  width: auto;
  cursor: pointer;
  user-select: none;
}

.navbar-links {
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.navbar-links li {
  display: flex;
  align-items: center;
  font-size: 28px;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 28px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.navbar-links a:hover, .navbar-links li:hover {
  color: #028a71;
}

.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #000000;
  margin: 5px 0;
}

@media (max-width: 1100px) {
  .navbar-links li, .navbar-links a {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .nav-logo {
    display: none;
  }

  p {
    font-size: 16px;
  }

  .navbar-links li, .navbar-links a {
    font-size: 20px;
  }

  .nav-center {
  padding-left: 80px;
  }

  .hamburger {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    gap: 20px;
    background-color: #ccffcc;
  }

  .navbar-links.open {
    display: flex;
  }
}
