.navbar {
  width: 100%;
  min-height: 83px;
  background-color: #6ca56c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Logo */
.nav-logo {
  margin-right: 25px;
  height: 55px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 425px) {
  .nav-logo {
    display: none;
  }
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar-links {
  display: flex;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-family: "Tenor Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.navbar-links a:hover {
  color: #2e4d2e;
}

.hamburger {
  display: none;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #8c744f;
  margin: 5px 0;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    gap: 20px;
    background-color: #6ca56c;
  }

  .navbar-links.open {
    display: flex;
  }
}
