h1{
  text-align: center;
  font-size: 2.5rem;
}

.menu-ingredients {
  font-size: 0.85rem;
  opacity: 0.85;
  margin-top: -1px;
}

.menu-erikoisruokavaliot {
  font-size: 0.85rem;
  opacity: 0.85;
  margin-top: -15px;
}

.menu-list-container {
  background-color: #f78dcb41;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

.category-title {
  font-size: 1.8rem;
  color: #000000;
  margin: 30px 0 15px 0;
  font-style: italic;
}

.menu-row {
  margin-bottom: 25px;
}

.menu-row-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.menu-name {
  font-size: 1.2rem;
  color: #000000;
}

.menu-price {
  font-size: 1.2rem;
  color: #000000;
}

.menu-dots {
  border-bottom: 2px dotted #000000;
  margin: 0 10px;
}

.menu-description {
  margin-top: 5px;
  color: #7d6a4a;
}
